@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    overflow:hidden;
    font-family: 'Montserrat', georgia, sans-serif;
}

#rect1
{
    min-height:100vh;
    background-color: #1E222D
}

#rect2
{
    min-height:100vh;
    background-color:#F2B12F;
}

#thenav
{
    background-color: rgba(0,0,0,0) !important;
    animation : navmove 2s ease-in-out 0s 1 normal;
}

#brand
{
    letter-spacing: -5px;
}

#brand span:nth-child(1)
{
    animation: col1 5s ease-in-out 0s infinite alternate;
}
#brand span:nth-child(2)
{
    animation: col2 5s ease-in-out 1s infinite alternate;
}#brand span:nth-child(3)
{
    animation: col3 5s ease-in-out 2s infinite alternate;
}#brand span:nth-child(4)
{
    animation: col4 5s ease-in-out 3s infinite alternate;
}#brand span:nth-child(5)
{
    animation: col5 5s ease-in-out 4s infinite alternate;
}#brand span:nth-child(6)
{
    animation: col6 5s ease-in-out 5s infinite alternate;
}#brand span:nth-child(7)
{
    animation: col7 5s ease-in-out 6s infinite alternate;
}

#navul
{
    position: absolute;
    left:48.9vw;
    font-size:24px;
}

a span.hover:hover
{
    color:#F2B12F;
}

a span.hover2:hover
{
    color:#1E222D;
}

img:hover
{
    transform: scale(1.1);
}

#bigtext
{
    position: relative;
    top:10vh;
    opacity : 0;
    animation: bigt 2s ease-in-out 0.3s 1 normal forwards;
}

#smalltext
{
    position: relative;
    top:10vh;
    line-height: 3vh;
    opacity : 0;
    animation: smallt 2s ease-in-out 0.3s 1 normal forwards;
}


#order
{
    position: relative;
    top:10vh;
    left:2.5vw;
    color: #FFFFFF;
    background-color : #F2B12F;
    border-radius: 85px 0;
    box-shadow : 1px 1px 8px #F2B12F;
    opacity : 0%;
    animation : btn 2s ease-in-out 1s 1 normal forwards;
}

button:hover
{
    transform: scale(1.05)
}

.btn:active
{
    transform: scale(1);
}

#image
{
    position : absolute;
    left:60vw;
    top:18vh;
}

#leaf1
{
    position : relative;
    top:12vh;
    animation : move 200s linear 0s infinite normal;
}

#leaf2
{
    position : relative;
    top:65vh;
    left:-6vw;
    transform : rotate(90deg);
    animation : move1 200s linear 0s infinite normal;
}

#leaf3
{
    position : relative;
    top:30vh;
    left: 47vw;
    transform : rotate(270deg);
    animation : move2 200s linear 0s infinite normal;
}

.yelcol
{
    color:#F2B12F;
}

.whitecol
{
    color:#FFFFFF;
}

.foodimg
{
    animation: roll 30s linear 2.55s infinite normal, movefood 2.5s ease-in-out 0s 1 normal;
}

.bgtrans
{
    position : absolute;
    bottom: 5vh;
    left:5vw;
}

.linemed
{
    position: absolute;
    bottom: 4.7vh;
    left:16.9vw;
    border: 1px solid #FFFFFF;
    width:50vw;
}

.page
{
    position: absolute;
    bottom: 5vh;
    right:5vw;
   opacity:0; 
    animation : btn 2s ease-in-out 1.7s 1 normal forwards;
}

.socmed
{
    opacity : 0%; 
}

img.socmed:nth-child(1)
{
    animation : btn 2s ease-in-out 0.5s 1 normal forwards;
}

img.socmed:nth-child(2)
{
    animation : btn 2s ease-in-out 0.8s 1 normal forwards;
}

img.socmed:nth-child(3)
{
    animation : btn 2s ease-in-out 1.1s 1 normal forwards;
}

img.socmed:nth-child(4)
{
    animation : btn 2s ease-in-out 1.4s 1 normal forwards;
}

hr .linemed
{
    animation : btn 2s ease-in-out 1.7s 1 normal forwards;
}

@keyframes move
{
    0%
    {
        transform : translate(0,0);
    }
    10%
    {
        transform : translate(2vw,12vh);
    }
    20%
    {
        transform : translate(12vw,8vh) rotate(90deg);
    }
    30%
    {
        transform : translate(18vw,16vh);
    }
    40%
    {
        transform : translate(22vw,10vh) rotate(180deg);
    }
    50%
    {
        transform : translate(30vw,25vh);
    }
    60%
    {
        transform : translate(35vw,35vh) rotate(270deg);
    }
    70%
    {
        transform : translate(38vw,22vh);
    }
    80%
    {
        transform : translate(33vw,22vh) rotate(360deg);
    }
   90%
    {
        transform : translate(15vw,30vh);
    }
    100%
    {
        transform : translate(0,0);
    }


}

@keyframes move1
{
    0%
    {
        transform:translate(0,0);
    }
    5%
    {
        transform : translate(15vw,-5vh) rotate(-45deg);
    }
    15%
    {
        transform : translate(28vw,-18vh) ;
    }
    25%
    {
        transform : translate(35vw,-35vh);
    }
    35%
    {
        transform : translate(31vw,-26vh) ;
    }
    45%
    {
        transform : translate(50vw,3vh) rotate(-120deg);
    }
    55%
    {
        transform : translate(38vw,-28vh) ; 
    }
    65%
    {
        transform : translate(59vw,-22vh) rotate(-270deg);
    }
    75%
    {
        transform : translate(42vw,-38vh) ;
    }
    85%
    {
        transform : translate(18vw,-20vh) rotate(-360deg);
    }

    95%
    {
        transform:translate(0,0);
    }

    95%
    {
        transform:translate(0,0) rotate(60deg);
    }

}

@keyframes move2
{
    0%
    {
        transform:translate(0,0);
    }
    8%
    {
        transform : translate(-15vw,-5vh) rotate(-80deg);
    }
    18%
    {
        transform : translate(-28vw,14vh) rotate(-120deg);
    }
    28%
    {
        transform : translate(-35vw,0vh) rotate(0deg);
    }
    35%
    {
        transform : translate(-31vw,12vh) rotate(40deg);
    }
    49%
    {
        transform : translate(-50vw,6vh) rotate(120deg);
    }
    60%
    {
        transform : translate(-31vw,-8vh) ; 
    }
    65%
    {
        transform : translate(-51vw,-2vh) rotate(270deg);
    }
    76%
    {
        transform : translate(-33vw,12vh) rotate(200deg);
    }
    88%
    {
        transform : translate(-18vw,6vh) rotate(320deg);
    }

    100%
    {
        transform:translate(0,0);
    }
}


@keyframes roll
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }

}

@keyframes col1
{
    0%
    {
        color:#FFFFFF;
    }
    20%
    {
        color:#F2B12F;
    }
    50%
    {
        color:#FFFFFF;
    }
    100%
    {
        color:#FFFFFF;
    }


}

@keyframes col2
{
    0%
    {
        color:#FFFFFF;
    }
    10%
    {
        color:#F2B12F;
    }
    50%
    {
        color:#FFFFFF;
    }
    100%
    {
        color : #FFFFFF;
    }
}

@keyframes col3
{
    0%
    {
        color:#FFFFFF;
    }
    10%
    {
        color:#F2B12F;
    }
    50%
    {
        color:#FFFFFF;
    }
    100%
    {
        color : #FFFFFF;
    }
}
@keyframes col4
{
    0%
    {
        color:#FFFFFF;
    }
    10%
    {
        color:#F2B12F;
    }
    50%
    {
        color:#FFFFFF;
    }
    100%
    {
        color : #FFFFFF;
    }
}
@keyframes col5
{
    0%
    {
        color:#FFFFFF;
    }
    10%
    {
        color:#F2B12F;
    }
    50%
    {
        color:#FFFFFF;
    }
    100%
    {
        color : #FFFFFF;
    }
}
@keyframes col6
{
    0%
    {
        color:#FFFFFF;
    }
    10%
    {
        color:#F2B12F;
    }
    50%
    {
        color:#FFFFFF;
    }
    100%
    {
        color : #FFFFFF;
    }
}
@keyframes col7
{
    0%
    {
        color:#FFFFFF;
    }
    10%
    {
        color:#F2B12F;
    }
    50%
    {
        color:#FFFFFF;
    }
    100%
    {
        color : #FFFFFF;
    }
}

@keyframes navmove
{
    0%
    {
      transform:  translateY(-2vh);
        opacity: 0%;
    }
    30%
    {
        opacity: 0%;
    }
    100%
    {
      transform:  translateY(0vh);
        opacity: 100%;
    }
}

@keyframes bigt
{
    0%
    {
     transform: translateX(-2vw);
     opacity : 0%;
    }
    30%
    {
     opacity : 0%;
    }
    100%
    {
     transform: translateX(0vw);
     opacity : 100%;
    }

}

@keyframes smallt
{
    0%
    {
     transform: translateX(2vw);
     opacity : 0%;
    }
    30%
    {
     opacity : 0%;
    }
    100%
    {
     transform: translateX(0vw);
     opacity : 100%;
    }

}

@keyframes btn
{
    0%
    {
     transform: translateY(5vh);
     opacity : 0%;
    }
    30%
    {
     opacity : 0%;
    }
    100%
    {
     transform: translateY(0vh);
     opacity : 100%;
    }

}

@keyframes movefood
{
    0%
    {
        transform: translateX(5vw);
        opacity: 0%;
    }
    30%
    {
        opacity: 0%;
    }
    100%
    {
        transform : translateX(0vw);
        opacity: 100%;
    }
}